<% isbn = user_book.book.isbn13 %>
<% @result = search_with_google_api("isbn:#{isbn}") %>
<% result = @result[0] %>
<% if result["volume_info"]["image_links"]%>
    <% img = result["volume_info"]["image_links"]["thumbnail"] %>
  <% else %>
    <% img = "" %>
<% end %>
<div class="col s12 m6 l4">
    <div class="card book-info">
        <div class="card-image book-info__img">
          <img src="<%= img %>" alt="<%= result["volume_info"]["title"] %>" width="128" height="188">
        </div>
      <div class="card-stacked">
        <div>
            <p>
                <%= result["volume_info"]["title"]%>
            </p>
        </div>
        <div class="card-action">
        <%= link_to book_memos_path(user_book.book),class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"  do%>
        メモを見る
        <% end %>
        <%= link_to book_path(user_book.book),method: :delete,data: { confirm: '本当に削除しますか？' },class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"  do%>
        削除
        <% end %>
        </div>
      </div>
    </div>
  </div>
