<% @results.each do |result| %>
  <% if result["volume_info"]["image_links"]%>
    <% img = result["volume_info"]["image_links"]["thumbnail"] %>
  <% else %>
    <% img = "" %>
  <% end %>

  <% if result["volume_info"]["industry_identifiers"]%>
    <% if result["volume_info"]["industry_identifiers"][1] %>
      <% isbn = result["volume_info"]["industry_identifiers"][1]["identifier"] %>
    <% else %>
      <% isbn = result["volume_info"]["industry_identifiers"][0]["identifier"] %>
    <% end %>
  <% end %>
  <div class="col s12 m6 l4">
    <div class="card book-info">
        <div class="card-image book-info__img">
          <img src="<%= img %>" alt="<%= result["volume_info"]["title"] %>" width="128" height="188">
        </div>
      <div class="card-stacked">
        <div>
          <div class="book-info__title"><%= result["volume_info"]["title"]%></div>
          <div class="book-info__author"><%= result["volume_info"]["authors"]%></div>
          <div class="book-info__isbn10"><%= isbn %></div>
          <% if user_signed_in? %>
            <% book = Book.where(isbn13: isbn) %>
            <% unless BookShelf.where(book_id:book.ids,user_id:current_user.id).exists?%>
              <%= link_to book_shelves_url(book: {title: result["volume_info"]["title"], isbn13: isbn}), class: "book-info__btn" ,method: :post ,data: { confirm: '本を登録しますか？'} do %>
                <div class="btn-floating halfway-fab waves-effect waves-light red">
                  <i class="material-icons">add</i>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to book_shelves_url(book: {title: result["volume_info"]["title"], isbn13: isbn}), class: "book-info__btn" ,method: :post ,data: { confirm: '本を登録しますか？'} do %>
              <div class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">add</i>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="card-action">
          <a href="<%= result["volume_info"]["info_link"]%>">詳細を見る</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
